/* Background colors */
:root {
    --background: #1B1B1B;
    --background-extend: #FFFFFF;
    --background-accent: #E09FFF;
    --background-input: #333333;
}

/* Text colors */
:root {
    --text: #FFFFFF;
    --text-extend: #1B1B1B;
    --text-accent: #E09FFF;
    --text-readonly: #949494;
}